{% extends "layout.html" %}

{% block content %}
    <h1>{{title}}</h1>
    <hr>
    <form role="form" action="/edit/submit" method="post">
      <input type="hidden" name="pageID" value="{{_id.toString()}}">
      <div class="form-group">
        <label for="pageTitle">EDIT PAGE TITLE</label>
        <input name="pageTitle" type="text" class="form-control" id="pageTitle" placeholder="Enter page title" value="{{title}}">
      </div>
      <div class="form-group">
        <label for="pageContent">EDIT PAGE CONTENT</label>
        <textarea name="pageContent" class="form-control" id="pageContent" placeholder="Enter page content">{{body}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
{% endblock %}
